*.lock
*.ipynb
*.DS_Store
target/
evaluation_datasets/
__cache__/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage.xml
*.coverage
*.coveragerc
htmlcov/
.mypy_cache/
.pytest_cache/
*.coverage.*
*.hypothesis/
*.pytest_cache/
*.tox/
*.so
public/models/
test.py